.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #f4f7f6;
  min-height: 100vh;
}

.big-data-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
}

h3 {
  margin-bottom: 25px;
  font-family: sans-serif;
}
.red {
  color: #ff0000;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dwie kolumny */
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 6px;
  color: #555;
}

input,
select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

input:focus {
  border-color: #ff0000;
  outline: none;
}

.checkbox-section {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 8px;
}

.check-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.submit-btn:hover:not(:disabled) {
  background: #ff0000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.result-icon {
  font-size: 4rem;
  margin: 20px 0;
}

.result-icon.success {
  color: #28a745;
}
.result-icon.fail {
  color: #dc3545;
}

.close-btn {
  margin-top: 20px;
  padding: 10px 30px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.close-btn:hover {
  background: #333;
}
